.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.friend .friend__avatar {
	width: 50px;
	border-radius: 38%;
}

.friend__avatar.g-avatar {
	width: 70px;
}

.friend__avatar.m-avatar {
	width: 60px;
}

.friend .friend__column{
	display: flex;
	align-items: center;
}

.friend__column i {
	font-size: 24px;
}

.friend .friend__avatar {
	margin-right: 15px;
}

.friend__content .friend__name {
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
	opacity: 0.6;
}

.friend__content .friend__bottom-text {
	font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
	font-size: 12px;
}

.friend__add-btn {
	display: flex;
	padding: 12px 14px;
	justify-content: center;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 5px;
}

.chat .chat__badge {
	font-size: 10px;
	color: white;
	background-color: red;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}